.title {
  font-family: var(--helvetica-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
}
.subtitle {
  font-family: var(--helvetica-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #999999;
  margin-top: 50px;
  margin-bottom: 25px;
}
.manageActionContainer {
  display: flex;
  gap: 15px;
}
.actionOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.actionOuter p {
  font-family: var(--helvetica-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #0320f8;
  margin-top: 5px;
}

.headSection {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.headItem {
  margin-right: 20px;
  /* border: 1px solid red; */
}
.headItem p {
  font-family: var(--helvetica-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  white-space: nowrap;
}
.bodyContainer {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
}
.bodyItem {
  display: flex;
  align-items: center;
}
.bodyItem p {
  font-family: var(--helvetica-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #999999;
}
.continentContainer {
  /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
  min-height: 48px;
  width: 100%;
  border: 1px solid rgb(214, 216, 218);
  overflow: auto;
  max-height: 17em;
}
.continentContainer input {
  flex: 1;
  border: none;
  height: 3rem;
  font-size: 16px;
  outline: none;
  font-weight: 500;
  font-family: var(--helvetica-font-family);
  margin-left: 10px;
  border-radius: 20px;
}
.countryOuter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.tag {
  font-family: var(--helvetica-font-family);
  background: #e6e8f6;
  font-weight: 500;
  font-size: 16px;
  color: #0320f8;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestionContainer {
  margin-top: 1rem;
  width: 100%;
  border-radius: 24px;
}
.suggestionContainer li {
  cursor: pointer;
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
}
.continentContainer li:hover {
  background-color: #eff0fb;
}
.continentContainer::-webkit-scrollbar-track {
  background-color: #ededed;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.continentContainer::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 24px;
}
.continentContainer::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

.selectContainer {
  width: 100%;
  border: 1px solid #e6e6e6;
  background-color: white;
}
.selectContainer li {
  /* border: 2px solid green; */
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1.875em;
}
.selectContainer li:hover {
  background-color: #e0e0e0;
}
.defaultSelect:hover {
  background-color: transparent !important;
}
.defaultSelect {
  justify-content: space-between;
  /* border: 1px solid red; */
}
/* .selectContainer > :last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */
/* .subItemContainer li {
  height: 25px !important;
} */
.subItemContainer {
  z-index: 100;
  max-height: 15em;
  overflow: auto;
  /* border-top-right-radius: 24px;
  border-bottom-right-radius: 24px; */
  border-radius: 24px;
}
.subItemContainer::-webkit-scrollbar-track {
  background-color: #ededed;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.subItemContainer::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 24px;
}
.subItemContainer::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}
