.textInput {
  height: 5rem;
  font-family: var(--helveticaDisplay), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #7c7c7c;
  border-radius: 100px;
  padding: 0 4.063rem;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #e6e6e6;
  outline: none;
}
.passInput {
  position: relative;
}
.IconDiv {
  position: absolute;
  top: 0%;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
