.overlayContainer {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}
.overlayBtn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 112px;
  height: 44px;
  background: #0320f8;
  border-radius: 100px;
  white-space: nowrap;
}
.chartOverlayText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  /* Secondary */

  color: #999999;
}
