.socialLogoContainer {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.logoOuter {
  height: 80px;
  width: 80px;
  border: 0.86px solid #e6e6e6;
  /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
